
<app-favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></app-favorite>

<app-bootstrap-panel>
  <ng-container class="heading"> 
    <h3>heading</h3>
  </ng-container>
  <div class="body">
    <h2>Body</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto sapiente nobis non sint hic laboriosam possimus neque earum unde dolorem! Possimus aliquam earum officia itaque distinctio temporibus? Aspernatur, deleniti quisquam!</p>
  </div>
</app-bootstrap-panel>